@model IEnumerable<MAX_KID.Models.Entities.HANGSX>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("THÊM HÃNG SẢN XUẤT MỚI", "Create")
</p>
<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">
            MÃ HÃNG SẢN XUẤT
        </th>
        <th class="text-center">
            TÊN HÃNG SẢN XUẤT
        </th>
        <th class="text-center">
            TÁC VỤ
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_HangSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHangSX)
        </td>
        <td>
            @Html.ActionLink("SỬA", "Edit", new { id=item.ID_HangSX }) |
            @Html.ActionLink("XÓA", "Delete", new { id=item.ID_HangSX })
        </td>
    </tr>
}

</table>
