@model MAX_KID.Models.Entities.LOAISP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LOẠI SẢN PHẨM</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_LoaiSP)

        <div class="form-group">
            <label class="control-label col-md-2" for="ID_DM">TÊN LOẠI SẢN PHẨM</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLoaiSP)
                @Html.ValidationMessageFor(model => model.TenLoaiSP)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU LẠI" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("QUAY LẠI TRANG TRƯỚC", "Index")
</div>
