@using MAX_KID.Models.Entities
<html>
<!DOCTYPE html>
<head>
    <link rel="SHORTCUT ICON" href="~/Content/Theme/images/icon1.png"/>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/Theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/Theme/css/slider.css" rel="stylesheet" />
    <script src="~/Content/Theme/js/move-top.js"></script>
    <script src="~/Content/Theme/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/Theme/js/jquery.easing.js"></script>
    <script src="~/Content/Theme/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                
                <div class="account_desc">
                    <ul>
                        <li><a href="/LOGIN/DangKy">ĐĂNG KÍ</a></li>
                        <li><a href="/LOGIN/Index">ĐĂNG NHẬP</a></li>
                        <li><a href="/Cart">GIỎ HÀNG</a></li>
@if (MAX_KID.Security.SessionPersister.UserName != null) {
                        <li><a href="#">XIN CHÀO: @MAX_KID.Security.SessionPersister.UserName.UserName</a></li>
                        <li><a href="/LOGIN/LogOut"> THOÁT</a></li>}
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                
                <div class="cart">
                    <p>
                        <span><img src="~/Content/cart-icon.png" width="20px" height="20px" /><a href="/Cart/Index" style="font-size:100%; color:#be2323">  GIỎ HÀNG</a></span><div id="dd" class="">
                           
                         @if (Session["CartSession"] != null)
                            {
                                Cart cart = (Cart)Session["CartSession"];
                                <span class="no_product">@cart.TotalItem() sản phẩm | @cart.ComputeTotalValue() VNĐ</span>
                             
                            }
                            else
                            {
                                <span class="no_product">0 sản phẩm | 0 VNĐ</span>
                            }
                        </div>
                    </p>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="#"><a href="/SANPHAM">TRANG CHỦ</a></li>
                        @{Html.RenderAction("HANGSX", "HANGSX");}
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    @using (Html.BeginForm("TimKiem", "SANPHAM", FormMethod.Post))
                    {

                        @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "nhập vào sản phẩm" })
                        <input type="submit" value="" />

                    }
                </div>
                <div class="clear"></div>
            </div>
           
        @*</div>
        <div class="main">
            <div class="content">
                <div class="content_top">
                    <div class="heading">
                        <h3>TẤT CẢ SẢN PHẨM</h3>
                    </div>
                    <div class="see">
                        <p><a href="#">xem thêm</a></p>
                    </div>
                    <div class="clear"></div>
                </div>*@
                <div class="section group">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>THÔNG TIN</h4>
                    <ul>
                        <li><a href="about.html">CƠ BẢN</a></li>
                        <li><a href="contact.html">NÂNG CAO</a></li>
                        <li><a href="#">TÌM KIẾM</a></li>
                        <li><a href="delivery.html">MUA HÀNG</a></li>
                        <li><a href="contact.html">SỐ ĐIỆN THOẠI</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>TẠI SAO MUA</h4>
                    <ul>
                        <li><a href="about.html">HƯỚNG DẪN</a></li>
                        <li><a href="contact.html">CHỈ ĐƯỜNG</a></li>
                        <li><a href="#">CAM KẾT</a></li>
                        <li><a href="contact.html">TIN TỨC MỚI</a></li>
                        <li><a href="#">GÓP Ý</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>TÀI KHOẢN</h4>
                    <ul>
                        <li><a href="contact.html">ĐĂNG KÝ</a></li>
                        <li><a href="index.html">ĐĂNG NHẬP</a></li>
                        <li><a href="#">GIỎ HÀNG</a></li>
                        <li><a href="#">ĐỒ ĐÃ MUA</a></li>
                        <li><a href="contact.html">HỖ TRỢ</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    
                    <div class="social-icons">
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="~/Content/Theme/images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Content/Theme/images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Content/Theme/images/skype.png" alt="" /> </a></li>
                            <li><a href="#" target="_blank"> <img src="~/Content/Theme/images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"> <img src="~/Content/Theme/images/linkedin.png" alt="" /></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

<style> .col_1_of_4h4{
     font-family: 'Times New Roman', Times, serif} 
 .span_1_of_4 h4{
     font-family: 'Times New Roman', Times, serif}
     .heading h3{font-family: 'Times New Roman'}

</style>



